<nav style="margin-top: 9px;" class="top-bar" data-topbar="">

<!-- <nav class="top-bar" data-topbar> -->
  <ul class="title-area">
    <li class="name">
      <h1><a href="#"><%= link_to "Sample app", '#', id: "logo" %></a></h1>
    </li>
  </ul>
  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li ><%= link_to "Home",    '#' %></li>
          <li><%= link_to "Help",    '#' %></li>
          <li> <%= link_to "About", '#'%> </li>
          <li><%= link_to "Sign in", '#' %></li>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
    </ul>
  </section>
</nav>






<!-- <header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "sample app", '#', id: "logo" %>
      <nav>
        <ul class="nav pull-right" style="list-style : none;display: inline-block">
          
        </ul>
      </nav>
    </div>
  </div>
</header> -->
